<h1> Submit New Application</h1>

<form action="/insert_application_record" method="post">
  <div>
    <label for="project-select">Project: </label>
      <select name="input_project_label" id="project-select">
        <option value="">--Please choose an option--</option>
        <option value="Fall 2019 Class">Fall 2019 Class</option>
        <option value="Winter 2020 Class">Winter 2020 Class</option>
      </select>
  </div>

  <button>
    Submit
  </button>
</form>