<img src="https://static1.squarespace.com/static/562bc677e4b036ebb5379c95/t/562bcaaee4b057e30c6834fe/1576156770373/?format=1500w">
<h1> Welcome to the beta version of the new campusCATALYST interview scoring system</h1>
<dt> As this is a beta build, there may be glitches. Please report any glitches you find to jerryshi25@gmail.com</dt>