<h1> Sign in</h1>

<dd>
  <form action="/verify_credentials" method="get">
    <div>
      <label for="Username">Email</label>
      <input id="Username" type="email" name="input_username" placeholder="Enter your email...">
    </div>

    <div>
      <label for="Password">Password</label>
    <input id="Password" type="password" name="input_password">
    </div>

    <button>
      Sign in
    </button>
  </form>
</dd>

<div>
  <h3>
  <a href="/sign_up">
    Sign up
  </a>
  </h3>
</div>